@import "tailwindcss";


:root {
    --bg-principal: #F2F8FF;
    --color-primary: #2563EB;
    --color-primary-2: #0f57f2;
    --color-primary-3: #DBEAFE;
    --color-primary-4: #0F172B;
    --color-primary-5:#EFF6FF;
    --color-text: #383F50;
    --color-text-2: #49596F;
    

}

body {
    font-family: "Noto Sans", sans-serif;


}